<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Oops</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
	<link rel="stylesheet" href="css/site.css">
</head>

<body>
	<h1>Oops!</h1>
	{{#if messages}}
	<p class="error">{{messages}}</p>
	{{/if}}
	<main>
		<p>Please log in!</p>
	</main>
</body>

</html>